.img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.p {
  line-height: 1.6;
  color: green;
}

.postTitle {
  border-bottom: 2px solid rgb(164, 233, 228);
  padding-bottom: 13px;
}

.link {
  color: rgb(0, 110, 255);
}
